<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="heading">Cricket Player</div>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="login"> Login Form</div>
<form [formGroup]="loginForm" (ngSubmit)="logIn()">
    <div>
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" formControlName="email">
        <small class="esmall" *ngIf="email.invalid && (email.dirty || email.touched)">
            email is mandatory field
        </small>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <small *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors.required">
                password cannot be left blank
            </small>
            <small *ngIf="password.errors.minlength">
                password must have minimum 8characters
            </small>
        </small>
    </div>

    <div class="but">
        <button value="sign In">Log In</button>
        <!--input class="submit"[disabled} = "!loginForm.valid" value="signIn"-->
        <button (click)="tosignup()" value="signIn">New User</button>
    </div>
</form>

<mat-toolbar class="foot" color="primary">
    <mat-toolbar-row>
        <div class="foot-text">Follow us on : </div>
        <img class="icons" src="../../assets/fb.png">
        <img class="icons" src="../../assets/insta.png">
        <img class="icons" src="../../assets/linkedin.png">
        <img class="icons" src="../../assets/twitter.png">
        <div class="copy">@Copyrights 2020 StackRoute. All rights reserved</div>
    </mat-toolbar-row>
</mat-toolbar>