<!-- <div class="cardContainer">

   <mat-card class="card" *ngFor="let data of Collections | paginate: config">
     <mat-card-header>
       <mat-card-title>
         {{array.name}}
       </mat-card-title>
     </mat-card-header>
     <mat-card-subtitle>
      {{array.city}}
     </mat-card-subtitle>
 
     <img mat-card-image src={{array.image_path}}>
 
     <mat-card-content>
       Capacity : {{data.capacity}}
     </mat-card-content>
   </mat-card>
 
 </div>
 <div class="pagination">
   <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
 </div> -->
