<mat-toolbar class="foot" color="primary">
   <mat-toolbar-row>
       <div class="foot-text">Follow us on : </div>
       <a href="https://www.facebook.com/"><img class="icons" src="../../assets/fb.png"></a>
       <a href="https://www.instagram.com/"><img class="icons" src="../../assets/insta.png"></a>
       <a href="https://www.linkedin.com/"><img class="icons" src="../../assets/linkedin.png"></a>
       <a href="https://www.twitter.com/"><img class="icons" src="../../assets/twitter.png"></a>
       <div class="copy">@Copyrights 2020 StackRoute. All rights reserved</div>
   </mat-toolbar-row>
</mat-toolbar>
