<div class="cardContainer">

   <mat-card class="card">

      <mat-card-title>
         Shivansh Agnihotri
      </mat-card-title>

      <mat-card-subtitle>
         IBM
      </mat-card-subtitle>

      <img mat-card-image height="350px" src="../../assets/DSC_0049.jpg">

      <mat-card-content>
         <b>Application Developer</b><br>
         RedHat Cloud Microservices
      </mat-card-content>
   </mat-card>


   <mat-card class="card">

      <mat-card-title>
         Pritesh
      </mat-card-title>

      <mat-card-subtitle>
         IBM
      </mat-card-subtitle>

      <img mat-card-image height="350px" src="../../assets/imggg.jpeg">

      <mat-card-content>
         <b>Applictaion Developer</b><br>
         RedHat Cloud Microservices
      </mat-card-content>
   </mat-card>


   <mat-card class="card">

      <mat-card-title>
         Arbaj
      </mat-card-title>

      <mat-card-subtitle>
         IBM
      </mat-card-subtitle>

      <img mat-card-image height="350px" src="../../assets/imggg.jpeg">

      <mat-card-content>
         <b>Application Developer</b><br>
         IBM Cloud Microservices
      </mat-card-content>
   </mat-card>


   <mat-card class="card">

      <mat-card-title>
         Regati Guruteja
      </mat-card-title>

      <mat-card-subtitle>
         IBM
      </mat-card-subtitle>

      <img mat-card-image height="350px" src="../../assets/imggg.jpeg">

      <mat-card-content>
         <b>Application Developer</b><br>
         IBM Cloud Microservices
      </mat-card-content>
   </mat-card>
</div>