.col{
    background-color: rgba(0, 0, 0, 0.664);
    height: 100px;
}
.name{
    margin-top: 28px;
    margin-right: 10px;
    font-style: italic;
    color:white;
    font-size: 52px;
}

.contact{
    font-size: 22px;
    position: absolute;
    right: 30px;
    margin-top: 9px;
    color:white;
}
.signup{
    font-size: 22px;
    position: absolute;
    right: 170px;
    margin-top: 9px;
    color: white;
}
img{
    height: 105px;
    margin-top: 38px;
    margin-left: 0px;
    margin-right: 5px;
}